

body,
.main-header,
.main-nav,
.personal-blurb,
.contact {
  background-color: rgb(249, 249, 249);
}

.main-nav li {
  font-family: 'Helvetica', sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.clearfix::after {
      content: "";
      display: table;
      clear: both;
    }

/* ---------MEDIA QUERIES------ */

@media screen and (max-width: 767px) {

    /* --General-- */

    img {
      display: block;
    }

    h2,
    h3,
    .main-header {
      text-align: center;
    }

    p {
      text-align: center;
      margin: auto;
      padding: 5px 15px 60px 15px;
      font-size: 1.25em;
      font-weight: lighter;
      line-height: 1.5em;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }

    h2 {
      font-size: 1em;
      padding-bottom: 45px;
    }

    /* --Header-- */

    .main-header {
      margin: auto;
      padding: 15px;
    }

    /* --Navigation-- */

    .main-nav li {
      text-decoration: none;
      background-color: white;
      padding: 15px;
      margin: 0 15px 5px;
      border-radius: 5px;
    }

    /* --Personal Info-- */

    .personal-blurb {
      padding-top: 50px
    }

    .personal-blurb img {
      width: 60%;
      padding: 15px;
      margin: auto;
    }

    .personal-blurb p {
      padding-bottom: 75px;
      color: rgb(150, 150, 150);
    }

    /* --Gallery-Portfolio-- */

    .portfolio {
      margin-top: 50px;
      padding-top: 30px;
      background-color: white;
    }

    .portfolio img {
      width: 90%;
      padding: 15px;
      margin: auto;
    }

    /* --Contact Info-- */

    .contact {
      padding: 50px 0;
      color: rgb(150, 150, 150);
    }

    .contact ul {
      font-size: 1.25em;
      font-weight: lighter;
      text-align: center;
      padding-bottom: 15px;
    }

    /* --Footer-- */

    .footer-top {
      background-color: rgb(249, 249, 249);
    }

    .footer-menu {
      display: none;
    }

    .footer-top h4 {
      float: left;
    }

    .footer-top a {
      float: right;
      padding-top: 20px;
    }

    .footer-top {
      overflow: hidden;
      width: 90%;
      margin: auto;
      padding: 10px;
      font-size: .75em;
      font-weight: bold;
      border-top: 1px solid lightgray;
    }
}

@media screen and (min-width: 768px) {

  /* --General-- */

  h2 {
    font-size: 1em;
  }

  .portfolio h2,
  .contact h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  h2,
  h3,
  .main-header {
    text-align: center;
    margin: auto;
    padding: 10px;
  }

  img {
    max-width: 100%;
    display: block;
  }

  /* --Navigation-- */

  .main-nav {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 5px 15px 15px 15px;
    background-color: transparent;
  }

  /* --Personal Info-- */

  .personal-blurb {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .personal-blurb img {
    float: right;
    width: 40%;
    padding: 20px;
  }

  .personal-blurb p {
    float: left;
    width: 50%;
    margin: auto;
    padding: 20px;
    font-size: 1.25em;
    color: darkgray;
    line-height: 1.25em;
    font-weight: lighter;
  }

  /* --Gallery-Portfolio-- */

  .portfolio {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    background-color: white;
  }

  .gallery li {
    float: left;
    overflow: hidden;
    display: inline-block;
    width: 45%;
    margin: 2.5%;
  }

  .gallery li a h3,
  .gallery li a p {
    text-align: center;
    color: black;
    line-height: 1.5em;
  }

  .gallery li a h3 {
    font-size: 1.25em;
  }

 .gallery li a p {
   font-size: 1.1em;
 }

  /* --Contact Info-- */

  .contact {
    text-align: center;
    padding: 50px;
    margin: auto;
    color: rgb(150, 150, 150);
  }

  .contact p {
    padding-bottom: 25px;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: lighter;
  }

  .contact ul {
    font-size: 1.25em;
    font-weight: lighter;
    padding-bottom: 15px;
  }

  /* --Footer-- */

  .footer-menu,
  .nav li {
    background-color: rgb(249, 249, 249);
  }

  .footer-top {
    display: none;
  }

  .footer-menu {
    display: flex;
    align-items: baseline;
    border-top: 1px solid lightgray;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
  }

  .footer-menu h4 {
    margin-right: auto;
    margin-left: 20px;
  }

  .footer-nav {
    margin-left: auto;
    margin-right: 20px;
  }

  .footer-nav a {
    padding: 15px;
    font-weight: bold;
  }

}

@media screen and (min-width: 1024px) {

  /* --Header-- */

  .main-header {
    display: flex;
    align-items: baseline;
  }

  .name {
    margin-right: auto;
    margin-left: 25px;
  }
  /* --Personal Info-- */

  .personal-blurb p {
    font-size: 1.6em;
    margin-left: 15px;
  }

  /* --Navigation-- */

  .main-nav {
    margin-left: auto;
    margin-right: 25px;
  }

  /* --Gallery-Portfolio-- */

  .portfolio {
    width: 95%;
  }

  .gallery li {
    float: left;
    overflow: hidden;
    display: inline-block;
    width: 30%;
    margin: 1.666%;
  }

  /* --Contact Info-- */

  .contact {
    margin-bottom: 50px;
    width: 70%;
  }

  .contact h2 {
    margin-bottom: 50px;
  }

  .contact p {
    margin: 25px;
  }

  /* --Footer-- */

  .footer-menu {
    margin-bottom: 20px;
  }

}
